<div>
  <mat-form-field appearance="outline">
    <input type="email" matInput [formControl]="emailControl" [errorStateMatcher]="matcher" aria-label="Email">
    <mat-label class="placeholder">Email</mat-label>
    <mat-error *ngIf="emailControl.hasError('required')">
      Email is
      <strong>required</strong>
    </mat-error>
    <mat-error *ngIf=" emailControl.hasError('email')">
      Email is
      <strong>incorrect</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <textarea type="text" matInput [formControl]="msgControl"
      [errorStateMatcher]="matcher" aria-label="Input your feedback"></textarea>
    <mat-label class="placeholder">Input your feedback...</mat-label>
    <mat-error *ngIf="msgControl.hasError('required')">
      Message is
      <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="warn" (click)="sendFeedback()" aria-label="Sen feedback">Send Feedback</button>
</div>