<div class="nameList">
    <br>
    <h3>

        <button class="float-left" mat-icon-button (click)="toggleNightMode()" aria-label="Toggle night mode">
            <mat-icon title="Night Mode" aria-label="Night Mode" [ngClass]="{nightModeButtonOn: nightMode==='true', nightModeButtonOff: !nightMode==='true'}">brightness_medium</mat-icon>
        </button>

        <span>
            <img class="rounded-circle" [src]="user.imageUrl" width="50" height="50" alt="Profile image" title="Profile image">
            {{user.name | titlecase}}'s List
            <button mat-icon-button routerLink="/profile/{{user.name}}" aria-label="Profile">
                <mat-icon aria-label="Profile" [ngClass]="{nightModeButtonOn: nightMode==='true', nightModeButtonOff: !nightMode==='true'}">account_box</mat-icon>
            </button>
        </span>

        <button class="float-right" mat-icon-button (click)="logout()" aria-label="Logout">
            <mat-icon aria-label="Log Out" [ngClass]="{nightModeButtonOn: nightMode==='true', nightModeButtonOff: !nightMode==='true'}">exit_to_app</mat-icon>
        </button>

    </h3>
    <mat-divider [class.nightMode]="nightMode==='true'"></mat-divider>
</div>
<ng-progress></ng-progress>
<app-new-series (series)="addSeries($event)" [nightMode]="nightMode"></app-new-series>

<br>
<br>

<div class="list-container mat-elevation-z8" [class.nightModeShadow]="nightMode==='true'">
    <div class="list-header" [class.nightMode]="nightMode==='true'" [class.lightModeFilter]="nightMode==='false'">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" aria-label="Filter">
            <mat-label class="placeholder" [class.nightMode]="nightMode==='true'">Filter</mat-label>
        </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort matSortActive="active" matSortDisableClear matSortDirection="desc" [class.nightMode]="nightMode==='true'">
        <!-- Active Column -->
        <ng-container matColumnDef="active">
            <mat-header-cell *matHeaderCellDef mat-sort-header [class.nightModeHeaders]="nightMode==='true'"> On Air </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-icon *ngIf="element.active" [ngClass]="{nightModeButtonOn: nightMode==='true', nightModeButtonOff: !nightMode==='true'}">check_box</mat-icon>
                <mat-icon *ngIf="!element.active" [ngClass]="{nightModeButtonOn: nightMode==='true', nightModeButtonOff: !nightMode==='true'}">indeterminate_check_box</mat-icon>
            </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header [class.nightModeHeaders]="nightMode==='true'"> Name </mat-header-cell>
            <mat-cell *matCellDef="let element" [class.nightModeHeaders]="nightMode==='true'"> {{element.name}} </mat-cell>
        </ng-container>

        <!-- Temp Column -->
        <ng-container matColumnDef="temp">
            <mat-header-cell *matHeaderCellDef [class.nightModeHeaders]="nightMode==='true'"> Season </mat-header-cell>
            <mat-cell *matCellDef="let element" [class.nightModeHeaders]="nightMode==='true'"> {{element.temp}}
                <button class="d-none d-md-inline-block" mat-icon-button (click)="seasonWatched(element.id, element.name, element.active, element.temp, element.epA)"
                    aria-label="Season watched">
                    <mat-icon [ngClass]="{nightModeButtonOn: nightMode==='true', nightModeButtonOff: !nightMode==='true'}">add_circle
                    </mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <!-- epS Column -->
        <ng-container matColumnDef="epA">
            <mat-header-cell *matHeaderCellDef [class.nightModeHeaders]="nightMode==='true'"> Actual Episode </mat-header-cell>
            <mat-cell *matCellDef="let element" [class.nightModeHeaders]="nightMode==='true'"> {{element.epA}}
                <button mat-icon-button (click)="episodeWatched(element.id, element.name, element.active, element.temp, element.epA)" aria-label="Episode watched">
                    <mat-icon [ngClass]="{nightModeButtonOn: nightMode==='true', nightModeButtonOff: !nightMode==='true'}">add_circle
                    </mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <!-- Buttons Column -->
        <ng-container matColumnDef="buttons">
            <mat-header-cell *matHeaderCellDef=""></mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="deleteSeries(element.id)" aria-label="Delete series">
                    <mat-icon [ngClass]="{nightModeButtonOn: nightMode==='true', nightModeButtonOff: !nightMode==='true'}">delete</mat-icon>
                </button>
                <button mat-icon-button (click)="openEditDialog(element)" class="d-none d-md-inline-block" aria-label="Edit series">
                    <mat-icon [ngClass]="{nightModeButtonOn: nightMode==='true', nightModeButtonOff: !nightMode==='true'}">edit</mat-icon>
                </button>
                <button mat-icon-button routerLink="/details/{{element.id}}" aria-label="Details">
                    <mat-icon [ngClass]="{nightModeButtonOn: nightMode==='true', nightModeButtonOff: !nightMode==='true'}">info</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>

<br>
<span class="badge badge-pill" style="margin-bottom: 50px" [class.badge-dark]="nightMode==='true'" [class.badge-light]="nightMode==='false'">Following
    {{nSeries}} series</span>

<share-buttons class="fixed-bottom" [theme]="sharedOptions.theme" [show]="0" [include]="['facebook','twitter','google','reddit','whatsapp','telegram','copy','tumblr','linkedin']"
    [showText]="true" [size]="-4" [url]="sharedOptions.url" [title]="sharedOptions.description" [description]="sharedOptions.description"
    [tags]="sharedOptions.description" [autoSetMeta]="true" aria-label="Share buttons"></share-buttons>