@import (reference) '../../shared/style/colors.less';

.toolbar-header {
    background-color: @base-light-theme-color;
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    margin-bottom: -0.5rem;
}

.toolbar-icon{
    width: 4rem;
    padding-right: 0.5rem;
}

.toolbar-title {
    font-size: 1.8rem;
    font-weight: bold;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.cookiesAdvice {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    background-color: @light-light-theme-color;
    width: 98.5%;
    border: 1px solid @base-light-theme-color;
    border-radius: .25rem;
    -webkit-box-shadow: 0px 1px 20px -2px black;
    -moz-box-shadow: 0px 1px 20px -2px black;
    box-shadow: 0px 1px 20px -2px black;
}

.cookiesAdviceTitle{
    padding: 1rem;
    font-size: 2em;
    background-color: @card-title-color;
    border-bottom: 1px solid @base-light-theme-color;
}

.cookiesAdviceBody{
    padding: 1rem;
    line-height: 1.7em;
    word-spacing: 2px;
}

.feedback{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: @light-light-theme-color;
    width: 40%;
    border: 1px solid @base-light-theme-color;
    border-radius: .25rem;
    -webkit-box-shadow: 0px 1px 20px -2px black;
    -moz-box-shadow: 0px 1px 20px -2px black;
    box-shadow: 0px 1px 20px -2px black;
}

.feedbackTitle{
    margin-bottom: 0;
    padding: 1rem;
    background-color: @card-title-color;
    border-bottom: 1px solid @base-light-theme-color;
}

.feedbackTitle a{
    color: black;
}

.feedbackBody{
    padding: 1rem;
}

.divider{
    margin-bottom: 1rem;
}