.cookiesAdvice {
    margin: 10px;
    position: fixed;
    bottom: 0px;
    right: 0;
    background-color: #d5e6f6;
    width: 98%;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.cookiesAdviceTitle{
    margin-bottom: 0;
    padding: 1rem;
    background-color: #bfddfa5e;
    border-bottom: 1px solid #aacded;
}

.cookiesAdviceBody{
    padding: 1rem;
}

.feedback{
    margin: 10px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: #d5e6f6;
    width: 40%;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.feedbackTitle{
    margin-bottom: 0;
    padding: 1rem;
    background-color: #bfddfa5e;
    border-bottom: 1px solid #aacded;
}

.feedbackTitle a{
    color: black;
}

.feedbackBody{
    padding: 1rem;
}

.toolbar-header {
    background-color: #aacded;
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    margin-bottom: -5px;
}

.toolbar-title {
    font-size: 160%;
    font-family: 'Montserrat Alternates';
    font-weight: bold;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.toolbar-icon{
    width: 50px;
    padding-right: 0.55rem;
}