<ng-progress></ng-progress>
<header>
    <mat-toolbar class="toolbar-header">
        <img src="../../../assets/toolbar.png" class="pr-2 toolbar-icon d-none d-sm-block" alt="Toolbar icon" title="Toolbar icon">
        <h2 class="toolbar-title">mywatchlist</h2>
        <span class="toolbar-spacer"></span>
        <button *ngIf="online" mat-raised-button color="primary" (click)="openLoginDialog()" aria-label="Login">Login</button>
        <button *ngIf="!online" mat-raised-button color="primary" (click)="offlineList()" aria-label="Offline">Offline :(</button>
    </mat-toolbar>
</header>

<div class="jumbotron">
    <div class="f-right">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Language" disabled>
            <mat-icon>language</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="langMenu">
            <button mat-menu-item *ngFor="let lang of languages" aria-label="Language">
                <mat-icon>language</mat-icon>
                <span *ngIf="lang.code !== language" (click)="setLanguage()">{{lang.label}}</span>
                <span *ngIf="lang.code === language">{{lang.label}} </span>
            </button>
        </mat-menu>
    </div>
    <h1 class="welcome d-none d-md-block">Welcome to MyWatchList!</h1>
    <h1 class="d-md-none">Welcome to MyWatchList!</h1>
    <p class="subWelcome">This is a simple page to track all Series you follow and share it with your friends.</p>
    <hr>
    <p>&nbsp;</p>

    <h4>Register now to become a Lister</h4>
    <div class="float-md-left">
        <app-register-form (user)="register($event)"></app-register-form>
    </div>
    <br class="d-none d-md-block">
    <br class="d-none d-md-block">
    <br class="d-none d-md-block">
</div>

<footer>
    <div class="flotanteIzq card w-20 alert-light d-none d-sm-block">
        <div class="card-header" id="headingContact">
            <h5 class="mb-0 text-center text-truncate">
                <button class="btn btn-link feedback" data-toggle="collapse" href="#collapseContact" aria-controls="collapseContact" aria-expanded="true" aria-label="Collapse feedback">
                    Feedback
                </button>
            </h5>
        </div>

        <div class="collapse" id="collapseContact" aria-labelledby="headingContact">
            <div class="card-body text-center">
                <app-feedback-form></app-feedback-form>
            </div>
        </div>
    </div>

    <div class="flotanteDer card" *ngIf="cookiesAdvice">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0 text-center text-truncate">
                    Cookies...
            </h5>
        </div>

        <div id="collapseOne" aria-labelledby="headingOne">
            <div class="card-body text-center">
                <p>
                    We use own functional cookies needed for the page and third party cookies to obtain statistics data and improve our services. If accepts, we understund you accept their use. You can obtain more information
                    <a href="http://www.allaboutcookies.org/"><b>here</b></a>.
                </p>
                <button class="btn btn-primary" type="button" aria-label="Close" (click)="closeCookies()" aria-label="OK">
                    <span aria-hidden="true">OK</span>
                </button>
            </div>
        </div>
    </div>
</footer>