<h1 mat-dialog-title>{{'profile.deleteModalTitle' | translate}}</h1>
<div mat-dialog-content>
    <p>{{'profile.deleteModal1' | translate}}</p>
    <p>{{'profile.deleteModal2' | translate}}</p>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onNoClick()" cdkFocusInitial aria-label="Cancel">{{'errors.cancel' | translate}}</button>
    <button mat-raised-button color="warn" (click)="onDeleteClick()" aria-label="Delete Account">{{'profile.delete' | translate}}</button>
</div>