<div class="nameList">
    <h2>
        <button class="f-left" mat-icon-button (click)="toggleNightMode()" aria-label="Toggle night mode">
            <mat-icon title="Toggle Night Mode" aria-label="toggle nightMode" [ngClass]="{nightModeButtonOn: nightMode.toString()==='true', nightModeButtonOff: nightMode.toString()==='false'}">brightness_medium</mat-icon>
        </button>

        <img class="img-circle" [src]="image" width="50" height="50" alt="Profile image" title="Profile image">
        <span *ngIf="online"> {{'shared-list.list1' | translate}} {{userName | titlecase}}{{'shared-list.list2' | translate}}</span>
        <span *ngIf="!online">{{userName | titlecase}}</span>
        <button mat-icon-button (click)="retryConnection()" aria-label="Retry connection">
            <mat-icon aria-label="Retry connection" title="Retry connection" [ngClass]="{nightModeButtonOn: nightMode.toString()==='true', nightModeButtonOff: nightMode.toString()==='false'}">sync</mat-icon>
        </button>
    </h2>

    <mat-divider [class.nightMode]="nightMode==='true'"></mat-divider>
</div>
<ng-progress></ng-progress>
<div class="list-container mat-elevation-z8" [class.nightModeShadow]="nightMode==='true'">
    <div class="list-header" [class.nightMode]="nightMode==='true'" [class.lightModeFilter]="nightMode==='false'">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" aria-label="Filter">
            <mat-label class="placeholder" [class.nightMode]="nightMode==='true'">{{'list.filter' | translate}}</mat-label>
        </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort matSortActive="active" matSortDisableClear matSortDirection="desc" [class.nightMode]="nightMode==='true'">
        <!-- Active Column -->
        <ng-container matColumnDef="active">
            <mat-header-cell *matHeaderCellDef mat-sort-header [class.nightModeHeaders]="nightMode==='true'"> {{'list.onAir' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-icon *ngIf="element.active" [ngClass]="{nightModeButtonOn: nightMode==='true', nightModeButtonOff: nightMode==='false'}">check_box</mat-icon>
                <mat-icon *ngIf="!element.active" [ngClass]="{nightModeButtonOn: nightMode==='true', nightModeButtonOff: nightMode==='false'}">indeterminate_check_box</mat-icon>
            </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header [class.nightModeHeaders]="nightMode==='true'"> {{'list.name' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element" [class.nightModeHeaders]="nightMode==='true'"> {{element.name}} </mat-cell>
        </ng-container>

        <!-- Temp Column -->
        <ng-container matColumnDef="temp">
            <mat-header-cell *matHeaderCellDef [class.nightModeHeaders]="nightMode==='true'"> {{'list.season' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element" [class.nightModeHeaders]="nightMode==='true'"> {{element.temp}} </mat-cell>
        </ng-container>

        <!-- epS Column -->
        <ng-container matColumnDef="epA">
            <mat-header-cell *matHeaderCellDef [class.nightModeHeaders]="nightMode==='true'"> {{'list.actual' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element" [class.nightModeHeaders]="nightMode==='true'"> {{element.epA}}
            </mat-cell>
        </ng-container>

        <!-- Buttons Column -->
        <ng-container matColumnDef="buttons">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
                <!--
                <button mat-icon-button routerLink="/details/{{element.id}}" aria-label="Details">
                    <mat-icon [ngClass]="{nightModeButtonOn: nightMode==='true', nightModeButtonOff: nightMode==='false'}">info</mat-icon>
                </button>
                -->
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>

<mat-basic-chip class="badge-following" [class.badge-dark]="nightMode==='true'" [class.badge-light]="nightMode==='false'">{{'list.following1' | translate}}
    {{nSeries}} {{'list.following2' | translate}}</mat-basic-chip>

<share-buttons *ngIf="online" class="btn-shared-buttons" [theme]="sharedOptions.theme" [show]="0" [include]="['facebook','twitter','reddit','whatsapp','telegram','tumblr','linkedin','google','copy']"
    [showText]="true" [size]="-4" [url]="sharedOptions.url" [title]="sharedOptions.description" [description]="sharedOptions.description"
    [tags]="sharedOptions.description" [autoSetMeta]="true" aria-label="Share buttons"></share-buttons>