<h1 mat-dialog-title>Please Login</h1>
<div mat-dialog-content>
    <mat-form-field>
        <input (keyup.enter)="onLoginClick()" type="text" matInput [formControl]="nameControl" [errorStateMatcher]="matcher" aria-label="Username">
        <mat-label class="placeholder">Username</mat-label>
        <mat-error *ngIf="nameControl.hasError('required')">
            Username is
            <strong>required</strong>
        </mat-error>
        <mat-error *ngIf=" nameControl.hasError('pattern')">
            Username is too
            <strong>short</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input (keyup.enter)="onLoginClick()" type="password" matInput [formControl]="passControl" [errorStateMatcher]="matcher" aria-label="Password">
        <mat-label class="placeholder">Password</mat-label>
        <mat-error *ngIf="passControl.hasError('required')">
            Password is
            <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="passControl.hasError('pattern')">
            Password is too
            <strong>weak</strong>
        </mat-error>
    </mat-form-field>
    <input type="boolean" matInput placeholder aria-label="Remember Session">
    <mat-checkbox [(ngModel)]="remember">
        Remember session
    </mat-checkbox>
</div>
<span>
    <button mat-button type="button" (click)="openForgotDialog()" aria-label="Forgot username or password?">Forgot username or password?</button>
</span>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" aria-label="Cancel">Cancel</button>
    <button *ngIf="!nameControl.hasError('required') && !passControl.hasError('required') && !nameControl.hasError('pattern') && !passControl.hasError('pattern')"
        mat-button (click)="onLoginClick()" cdkFocusInitial aria-label="Login">Login</button>
</div>