<h1 mat-dialog-title>Please Login</h1>
<div mat-dialog-content>
    <form>
        <mat-form-field>
            <input (keyup.enter)="onLoginClick()" type="text" matInput [formControl]="nameControl" [errorStateMatcher]="matcher" aria-label="Username">
            <mat-label class="placeholder">Username</mat-label>
            <mat-error *ngIf="nameControl.hasError('required')">
                {{'errors.username' | translate}}
                <strong>{{'errors.required' | translate}}</strong>
            </mat-error>
            <mat-error *ngIf=" nameControl.hasError('pattern')">
                {{'errors.username' | translate}}
                <strong>{{'errors.short' | translate}}</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input (keyup.enter)="onLoginClick()" type="password" matInput [formControl]="passControl" [errorStateMatcher]="matcher"
                aria-label="Password">
            <mat-label class="placeholder">Password</mat-label>
            <mat-error *ngIf="passControl.hasError('required')">
                {{'errors.password' | translate}}
                <strong>{{'errors.required' | translate}}</strong>
            </mat-error>
            <mat-error *ngIf="passControl.hasError('pattern')">
                {{'errors.password' | translate}}
                <strong>{{'errors.weak' | translate}}</strong>
            </mat-error>
        </mat-form-field>
        <input type="boolean" matInput placeholder aria-label="Remember Session">
        <mat-checkbox name="remember" [(ngModel)]="remember">
            {{'login.remember' | translate}}
        </mat-checkbox>
    </form>
</div>
<span>
    <button mat-button color="primary" type="button" (click)="openForgotDialog()" aria-label="Forgot username or password?">{{'login.forgot' | translate}}</button>
</span>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" aria-label="Cancel">{{'errors.cancel' | translate}}</button>
    <button *ngIf="!nameControl.hasError('required') && !passControl.hasError('required') && !nameControl.hasError('pattern') && !passControl.hasError('pattern')"
        mat-button (click)="onLoginClick()" cdkFocusInitial aria-label="Login">Login</button>
</div>