<div class="container-fluid register">
    <form class="row">
        <div class="col-md-3 col-sm-6">
            <mat-form-field appearance="outline">
                <input (keyup.enter)="register()" type="text" matInput [formControl]="nameControl" [errorStateMatcher]="matcher" aria-label="Username">
                <mat-label class="placeholder">{{'register.user' | translate}}</mat-label>
                <mat-error *ngIf="nameControl.hasError('required')">
                    {{'errors.username' | translate}}
                    <strong>{{'errors.required' | translate}}</strong>
                </mat-error>
                <mat-error *ngIf=" nameControl.hasError('pattern')">
                    {{'errors.username' | translate}}
                    <strong>{{'errors.short' | translate}}</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-3 col-sm-6">
            <mat-form-field appearance="outline">
                <input (keyup.enter)="register()" type="email" matInput [formControl]="emailControl" [errorStateMatcher]="matcher" aria-label="Email">
                <mat-label class="placeholder">Email</mat-label>
                <mat-error *ngIf="emailControl.hasError('required')">
                    {{'errors.email' | translate}}
                    <strong>{{'errors.required' | translate}}</strong>
                </mat-error>
                <mat-error *ngIf=" emailControl.hasError('email')">
                    {{'errors.email' | translate}}
                    <strong>{{'errors.incorrect' | translate}}</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="w-100 d-block d-sm-none"></div>
        <div class="col-md-2 col-sm-6">
            <mat-form-field appearance="outline">
                <input (keyup.enter)="register()" type="password" matInput [formControl]="passControl" [errorStateMatcher]="matcher" aria-label="Password">
                <mat-label class="placeholder">{{'register.password' | translate}}</mat-label>
                <mat-error *ngIf="passControl.hasError('required')">
                    {{'errors.password' | translate}}
                    <strong>{{'errors.required' | translate}}</strong>
                </mat-error>
                <mat-error *ngIf="passControl.hasError('pattern')">
                    {{'errors.password' | translate}}
                    <strong>{{'errors.weak' | translate}}</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-2 col-sm-6">
            <mat-form-field appearance="outline">
                <input (keyup.enter)="register()" type="password" matInput [formControl]="pass2Control" [errorStateMatcher]="matcher" aria-label="Repeat password">
                <mat-label class="placeholder">{{'register.repeat' | translate}}</mat-label>
                <mat-error *ngIf="pass2Control.hasError('required')">
                    {{'errors.password' | translate}}
                    <strong>{{'errors.required' | translate}}</strong>
                </mat-error>
                <mat-error *ngIf="!(passControl.value===pass2Control.value)">
                    {{'errors.passwords' | translate}}
                    <strong>{{'errors.match' | translate}}</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-2 col-sm-12">
            <button class="btn-register" *ngIf="(passControl.value===pass2Control.value) && !nameControl.hasError('required') && !passControl.hasError('required') && !nameControl.hasError('pattern') && !passControl.hasError('pattern') && !emailControl.hasError('required') && !emailControl.hasError('email')"
                mat-raised-button color="primary" (click)="register()" aria-label="Register">{{'register.register' | translate}}</button>
            <button class="btn-register" *ngIf="!(passControl.value===pass2Control.value) || nameControl.hasError('required') || passControl.hasError('required') || nameControl.hasError('pattern') || passControl.hasError('pattern') || emailControl.hasError('required') || emailControl.hasError('email')"
                mat-raised-button disabled color="primary" (click)="register()" aria-label="Register">{{'register.register' | translate}}</button>
        </div>
    </form>
</div>