<div class="container-fluid register">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <mat-form-field appearance="outline">
                <input (keyup.enter)="register()" type="text" matInput [formControl]="nameControl" [errorStateMatcher]="matcher" aria-label="Username">
                <mat-placeholder class="placeholder">Username</mat-placeholder>
                <mat-error *ngIf="nameControl.hasError('required')">
                    Username is
                    <strong>required</strong>
                </mat-error>
                <mat-error *ngIf=" nameControl.hasError('pattern')">
                    Username is too
                    <strong>short</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-3 col-sm-6">
            <mat-form-field appearance="outline">
                <input (keyup.enter)="register()" type="email" matInput [formControl]="emailControl" [errorStateMatcher]="matcher" aria-label="Email">
                <mat-placeholder class="placeholder">Email</mat-placeholder>
                <mat-error *ngIf="emailControl.hasError('required')">
                    Email is
                    <strong>required</strong>
                </mat-error>
                <mat-error *ngIf=" emailControl.hasError('email')">
                    Email is
                    <strong>incorrect</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="w-100 d-block d-sm-none"></div>
        <div class="col-md-2 col-sm-6">
            <mat-form-field appearance="outline">
                <input (keyup.enter)="register()" type="password" matInput [formControl]="passControl" [errorStateMatcher]="matcher" aria-label="Password">
                <mat-placeholder class="placeholder">Password</mat-placeholder>
                <mat-error *ngIf="passControl.hasError('required')">
                    Password is
                    <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="passControl.hasError('pattern')">
                    Password is too
                    <strong>weak</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-2 col-sm-6">
            <mat-form-field appearance="outline">
                <input (keyup.enter)="register()" type="password" matInput [formControl]="pass2Control" [errorStateMatcher]="matcher" aria-label="Repeat password">
                <mat-placeholder class="placeholder">Repeat Password</mat-placeholder>
                <mat-error *ngIf="pass2Control.hasError('required')">
                    Password is
                    <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="!(passControl.value===pass2Control.value)">
                    Passwords
                    <strong>doesn't match</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-2 col-sm-12">
            <button style="margin-top: 10px" *ngIf="(passControl.value===pass2Control.value) && !nameControl.hasError('required') && !passControl.hasError('required') && !nameControl.hasError('pattern') && !passControl.hasError('pattern') && !emailControl.hasError('required') && !emailControl.hasError('email')"
                mat-raised-button color="primary" (click)="register()" aria-label="Register">Register</button>
            <button style="margin-top: 10px" *ngIf="!(passControl.value===pass2Control.value) || nameControl.hasError('required') || passControl.hasError('required') || nameControl.hasError('pattern') || passControl.hasError('pattern') || emailControl.hasError('required') || emailControl.hasError('email')"
                mat-raised-button disabled color="primary" (click)="register()" aria-label="Register">Register</button>
        </div>
    </div>
</div>

<div [hidden]="true">
    <span id="userExist" [hidden]="true">Error! Username already exists.</span>
    <span id="emailExist" [hidden]="true">Error! Email already exists.</span>
</div>