.nameProfile {
    text-align: center;
    padding-top: 1rem;
}

.expansion {
    width: 50%;
}

.img-expansion{
    margin-top: 3rem;
}

.btn-upload{
    width: 100%;
}

.upload-image-preview {
    display: block;
    margin: 1rem auto;
    height: 14rem;
    width: 14rem;
}

.upload-image-preview-mobile {
    display: block;
    margin: 1rem auto;
    height: 7rem;
    width: 7rem;
}

.btn-delete {
    text-align: center;
    position: sticky;
    bottom: 0rem;
    margin-top: 3rem;
}