<h1 mat-dialog-title i18n="@@forgotHeader">Enter email to resend credentials</h1>
<div mat-dialog-content i18n="@@forgotContent">
    <mat-form-field>
        <input (keyup.enter)="onSendClick()" i18n-placeholder="@@registerEmail" placeholder="Email" type="email" matInput [formControl]="emailControl" [errorStateMatcher]="matcher">
        <mat-error *ngIf="emailControl.hasError('required')">
            Email is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf=" emailControl.hasError('email')">
            Email is <strong>incorrect</strong>
        </mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions i18n="@@forgotButtons">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button *ngIf="!emailControl.hasError('required') && !emailControl.hasError('email')" mat-button (click)="onSendClick()" cdkFocusInitial>Send</button>
</div>