<h1 mat-dialog-title>{{'forgot.header' | translate}}</h1>
<div mat-dialog-content>
    <mat-form-field>
        <input (keyup.enter)="onSendClick()" type="email" matInput [formControl]="emailControl" [errorStateMatcher]="matcher" aria-label="Email">
        <mat-label class="placeholder">Email</mat-label>
        <mat-error *ngIf="emailControl.hasError('required')">
            {{'errors.email' | translate}} <strong>{{'errors.required' | translate}}</strong>
        </mat-error>
        <mat-error *ngIf=" emailControl.hasError('email')">
            {{'errors.email' | translate}} <strong>{{'errors.incorrect' | translate}}</strong>
        </mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" aria-label="Cancel">{{'errors.cancel' | translate}}</button>
    <button *ngIf="!emailControl.hasError('required') && !emailControl.hasError('email')" mat-button (click)="onSendClick()"
        cdkFocusInitial aria-label="Send">{{'forgot.send' | translate}}</button>
</div>