<h1 mat-dialog-title>Enter email to resend credentials</h1>
<div mat-dialog-content>
    <mat-form-field>
        <input (keyup.enter)="onSendClick()" type="email" matInput [formControl]="emailControl" [errorStateMatcher]="matcher" aria-label="Email">
        <mat-label class="placeholder">Email</mat-label>
        <mat-error *ngIf="emailControl.hasError('required')">
            Email is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf=" emailControl.hasError('email')">
            Email is <strong>incorrect</strong>
        </mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" aria-label="Cancel">Cancel</button>
    <button *ngIf="!emailControl.hasError('required') && !emailControl.hasError('email')" mat-button (click)="onSendClick()" cdkFocusInitial aria-label="Send">Send</button>
</div>