<ng-progress></ng-progress>
<div class="cookies rounded" i18n="@@cookies">
    <p>In compliance with the provisions of article 22.2 of Law 34/2002, of July 11, Services of the Information Society and Electronic Commerce, this website informs you, in this section, about the <strong>cookie collection and treatment policy</strong>.</p>
    <p>&nbsp;</p>
    <h3><span style="line-height: 1.5;">What are the cookies?</span></h3>
    <p><span style="line-height: 1.5;">A cookie is a file that is downloaded to your computer when you access certain web pages. Cookies allow a web page, among other things, to store and retrieve information about the browsing habits of a user or their equipment and, depending on the information they contain and the way they use their equipment, they can be used to recognize to user.</span></p>
    <p>&nbsp;</p>
    <h3>What kind of cookies use this web?</h3>
    <p>This website uses the following types of cookies:</p>
    <p><span style="text-decoration: underline;"><strong>Analysis cookies</strong></span>: Are those that well treated by us or by third parties, allow us to quantify the number of users and thus perform the measurement and statistical analysis of the use
        made by users of the service offered. To do this, we analyze your browsing on our website in order to improve the offer of products or services we offer you.</p>
    <p><span style="text-decoration: underline;"><strong>Technical cookies</strong></span>: Are those that allow the user to navigate through the restricted area and the use of its different functions, such as, for example, bringing the process of purchasing
        an article.</p>
    <p><strong><span style="text-decoration: underline;">Personalization cookies</span></strong>: Are those that allow the user to access the service with some predefined general characteristics based on a series of criteria in the user's terminal, such
        as the language or type of browser through which the user connects to the service.</p>
    <p><strong><span style="text-decoration: underline;">Advertising cookies</span></strong>: Are those that, well treated by this website or by third parties, allow to manage in the most efficient way possible the offer of the advertising spaces that are
        on the web page, adapting the content of the advertisement to the content of the service requested or to the use made from our website. For this we can analyze your browsing habits on the Internet and we can show you advertisements related to
        your browsing profile.</p>
    <p><span style="text-decoration: underline;"><strong>Behavioral advertising cookies</strong></span>: Are those that allow the management, in the most efficient way possible, of the advertising spaces that, where appropriate, the editor has included in
        a web page, application or platform from which it provides the requested service. This type of cookies stores information on the behavior of visitors obtained through the continuous observation of their browsing habits, which allows the development
        of a specific profile to display advertisements based on it.</p>
    <p>&nbsp;</p>
    <h3>Deactivate cookies.</h3>
    <p>You can <strong>allow, block or delete cookies</strong> installed on your computer by configuring the browser options installed on your computer.</p>
    <p>In most web browsers the possibility of allowing, blocking or eliminating the cookies installed on your computer is offered.</p>
    <p>You can then access the configuration of the most frequent web browsers to accept, install or deactivate cookies:</p>
    <p><a href="https://support.google.com/chrome/answer/95647?hl=es" target="_blank" rel="noopener">Configure cookies in Google Chrome</a></p>
    <p><a href="http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9" target="_blank" rel="noopener">Configure cookies in Microsoft Internet Explorer</a></p>
    <p><a href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias?redirectlocale=es&amp;redirectslug=habilitar-y-deshabilitar-cookies-que-los-sitios-we" target="_blank" rel="noopener">Configure cookies in Mozilla Firefox</a></p>
    <p><a href="https://support.apple.com/es-es/HT201265" target="_blank" rel="noopener">Configure cookies in Safari (Apple)</a></p>
    <p>&nbsp;</p>
    <h3>Third party cookies.</h3>
    <p>This website uses third-party services to collect information for statistical purposes and use of the web. DoubleClick cookies are used to improve the advertising that is included in the website. They are used to guide advertising according to the
        content that is relevant to a user, thus improving the quality of experience in its use.</p>
    <p>Specifically, we use Google Adsense and Google Analytics services for our statistics and advertising. Some cookies are essential for the operation of the site, for example the built-in search engine.</p>
    <p>Our site includes other features provided by third parties. You can easily share the content on social networks like Facebook, Twitter or Google +, with the buttons that we have included for that purpose.</p>
    <br>
    <h4>Warning about deleting cookies.</h4>
    <p>You can delete and block all cookies from this site, but part of the site will not work or the quality of the website may be affected.</p>

    <button class="btn btn-warning btn-lg btn-block flotante" routerLink="/intro" aria-label="Accept">Accept</button>
</div>