.entendido {
    text-align: center;
    margin: 7px;
}

.cookies {
    color: black;
    line-height: 24px;
    padding: 14px 15px 14px 25px;
    position: relative;
    width: auto;
    border-left: 3px solid #5457d2;
    min-height: 57px;
    background-color: rgba(205, 243, 255, 0.702);
}

.flotante {
    position: sticky;
    bottom: 1em;
}

.cookies-more-info{
    color: #d39e00;
}