@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@ngx-share/button/styles/share-buttons.css';
@import '~@ngx-share/button/styles/themes/material/material-light-theme.css';
@import '~@ngx-share/button/styles/themes/material/material-dark-theme.css';

html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 4px;
    background-color: #aacded;
}

.body404 {
    background: url('./assets/404.gif') no-repeat center center fixed;
    background-size: cover;
    background-color: #342643;
    overflow: hidden;
    height: 100%;
}

.bodyIntro {
    background: url('./assets/introImage.jpg') no-repeat center center fixed;
    background-size: cover;
}

.basic-container {
    padding: 5px;
}

.insert-form {
    max-width: 49.6%;
    width: 100%;
}

.insert-full-width {
    width: 100%;
}

.list-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.list-header {
    min-height: 64px;
    padding: 8px 24px 0;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
    background-color: #d5e6f6;
}

.mat-expansion-panel{
    background-color: #d5e6f6;
}

.nameList {
    text-align: center;
    margin-bottom: 10px;
}

.nightMode {
    background: #293946;
    color: #bdc7c1;
}

.mat-option:focus:not(.mat-option-disabled),
.mat-option:hover:not(.mat-option-disabled) {
    background: #456076;
    color: #bdc7c1;
}

.mat-menu {
    background: #293946;
}

.nightMode .mat-focused .placeholder {
    color: #bdc7c1;
}

.nightModeHeaders {
    color: #bdc7c1;
}

.nightModeButtonOn {
    color: #d48872 !important;
}

.nightModeButtonOff {
    color: #142635;
}

.nightModeButtonOn .mat-icon {
    color: #d48872;
}

.nightModeButtonOff .mat-icon {
    color: #142635;
}

.mat-raised-button:not([class*=mat-elevation-z]).nightModeLogoutOn {
    background-color: #d48872;
    color: #142635;
    box-shadow: 0 3px 1px -2px rgba(100, 112, 117, .2), 0 2px 2px 0 rgba(100, 112, 117, .14), 0 1px 5px 0 rgba(100, 112, 117, .12);
}

.nightModeShadowHeader {
    box-shadow: 0 3px 1px -2px rgba(100, 112, 117, .2), 0 2px 2px 0 rgba(100, 112, 117, .14), 0 1px 5px 0 rgba(100, 112, 117, .12);
}

.nightModeShadow {
    box-shadow: 0 5px 5px -3px rgba(100, 112, 117, .2), 0 8px 10px 1px rgba(100, 112, 117, .14), 0 3px 14px 2px rgba(100, 112, 117, .12);
}

.lightModeFilter {
    background-color: #d5e6f6;
}

.mat-dialog-container {
    background-color: #e9ecef;
}

.langMenu{
    background-color: #d5e6f6;
}

.badge-light{
    background-color: #d5e6f6;
    padding: 0.5rem;
}

.badge-dark{
    background-color: #293946;
    padding: 0.5rem;
}

.btn-danger{
    color: #142635;
    background-color: #d48872;
    border: 0;
}

.btn-warning {
    color: #142635;
    background-color: #d5e6f6;
    border: 0;
}

.sb-material-light .sb-wrapper{
    background-color: #d5e6f6;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
    background-color: #673ab7;
}

.snackSuccess {
    background-color: #56ba6c;
    color: black;
}

.snackError {
    background-color: #ce5e57;
    color: black;
}

.welcome {
    font-size: 4.5rem;
}

.subWelcome {
    font-size: 1.25rem;
}

.f-right {
    float: right!important;
}
.f-left {
    float: left!important;
}

.img-circle{
    border-radius: 50%!important;
}

.btnShared{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

.center-horizontal {
    margin-left: auto!important;
    margin-right: auto!important;
}