<div [class.nightModeShadow]="nightMode==='true'" i18n="@@insertForm">
    <mat-expansion-panel [class.nightMode]="nightMode==='true'">
        <mat-expansion-panel-header>
            <mat-panel-title [class.nightMode]="nightMode==='true'">
                Insert
            </mat-panel-title>
            <mat-panel-description [class.nightMode]="nightMode==='true'">
                New Series
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field class="insert-full-width">
            <input type="text" matInput [formControl]="nameControl" [errorStateMatcher]="matcher" [matAutocomplete]="auto" #elName>
            <mat-placeholder class="placeholder" [class.nightMode]="nightMode==='true'">Name</mat-placeholder>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option [class.nightMode]="nightMode==='true'" *ngFor="let option of predictSeries " [value]="option.title">
                    {{ option.title }}
                </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="nameControl.hasError('required')">
                Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="insert-form">
            <input matInput [formControl]="tempControl" [errorStateMatcher]="matcher" #elTemp>
            <mat-placeholder class="placeholder" [class.nightMode]="nightMode==='true'">Season</mat-placeholder>
            <mat-error *ngIf="tempControl.hasError('required')">
                Season is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="tempControl.hasError('pattern')">
                Season must be a <strong>number</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="insert-form">
            <input matInput [formControl]="epiControl" [errorStateMatcher]="matcher" #elEpi>
            <mat-placeholder class="placeholder" [class.nightMode]="nightMode==='true'">Actual Episode</mat-placeholder>
            <mat-error *ngIf="epiControl.hasError('required')">
                Episode is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="epiControl.hasError('pattern')">
                Episode must be a <strong>number</strong>
            </mat-error>
        </mat-form-field>

        <div style="text-align: center;" *ngIf="!nameControl.hasError('required') && !tempControl.hasError('required') && !tempControl.hasError('pattern') && !epiControl.hasError('required') && !epiControl.hasError('pattern')">
            <button [color]="nightMode==='true'?'primary':'default'" mat-raised-button (click)="createSeries(elName.value, elTemp.value, elEpi.value)">
          Insert <mat-icon [ngClass]="{nightModeButtonOn: nightMode==='true', nightModeButtonOff: !nightMode==='true'}">add_circle</mat-icon>
      </button>
        </div>
    </mat-expansion-panel>
</div>